@use 'variables' as *;

// Global reset styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  color: $text-color;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

